.prompt
	display: flex
	color: rgb(153, 153, 153)
	font-size: 12px
	.icon-prompt
		display: inline-block
		width: 15px
		height: 15px
		margin-right: 6px
		background: url('../../../assets/img/icon-prompt.png') no-repeat center/100%

.input-item
	width: 100%
	height: 50px
	padding-left: 20px
	border: 1px solid rgb(153, 153, 153)
	border-radius: 6px
	font-size: 16px

.submit-btn
	width: 100%
	margin-top: 38px
	.btn
		width: 100%

.input-left-item
	position: relative
	display: flex
	align-items: center
	width: 100%
	height: 37px
	padding: 0 10px
	font-size: 16px
	border: 1px solid #cccccc
	border-radius: 6px
	span
		margin-right: 32px
	input
		height: 100%
		flex: 1
		border: none
	.iconfont
		position: absolute
		top: 50%
		right: 10px
		transform: translate(0, -50%)
.input-right-item
	display: flex
	align-items: center
	width: 100%
	height: 37px
	padding: 0 10px
	font-size: 16px
	border: 1px solid #cccccc
	border-radius: 6px
	input
		height: 100%
		flex: 1
		border: none