/* init style */
* {
  box-sizing: border-box;
  -webkit-touch-callout: none; /* 系统默认菜单被禁用 */
  -khtml-user-select: none;    /* 早期浏览器 */
  -webkit-user-select: none;   /* webkit */
  -moz-user-select: none;      /* firefox */
  -ms-user-select: none;       /* IE10 */
  user-select: none;
}
input {
  /* fix 禁用长按复制导致 ios input 不能输入 */
  -webkit-user-select: auto;
  line-height: normal;
}

*::after, *::before {
  box-sizing: border-box;
}

html {
  /* background-color: #f1f1f1 !important; */
  background-color: #fff !important;
  font-family: 'Microsoft YaHei';
}

html, body {
  width: 100%;
  height: 100%;
  /**
   * touch当手指从触摸屏上移开，会保持一段时间的滚动
   * auto当手指从触摸屏上移开，滚动会立即停止
   */
  -webkit-overflow-scrolling: touch;
  /* 设置点击链接的时候出现的高亮颜色。显示给用户的高光是他们成功点击的标识，以及暗示了他们点击的元素 */
  -webkit-tap-highlight-color: transparent;
}
/* 隐藏滚轮 */
::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
  color: transparent;
}

a, a:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, ul, ol, li, p, input {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

ul, ol, li {
  list-style: none;
}

img {
  border: none;
  outline: none;
}

/* input, textarea, [contenteditable] {
  color: #46ae46;
  text-shadow: 0px 0px 0px #495057;
  -webkit-text-fill-color: transparent;
} */
/*@supports (caret-color: #daab5b) {
  input, textarea, [contenteditable] {
    caret-color: #daab5b;
  }
}*/

/* input::-webkit-input-placeholder {
  color: #999;
}
input:-moz-placeholder {
  color: #999;
}
input:-ms-input-placeholder {
  color: #999;
} */

/* tool */
.pull-left {
  float: left !important;
}

.pull-right {
  float: right !important;
}

.clearfix {
  display: table;
}

.clearfix:after {
  content: '';
  display: block;
  height: 0;
  line-height: 0;
  clear: both;
  visibility: hidden;
}

.border-none {
  border: none !important;
}

.color333 {
  color: #333;
}
.color666 {
  color: #666;
}
.color999 {
  color: #999;
}
.main-color {
  color: #46ae46;
}
.main-bgColor {
  color: #46ae46;
}

/* common page */
.header {
  width: 100%;
  /* 45px + 20px */
  height: 65px;
  padding: 20px 15px 0 15px;
  color: #fff;
  font-size: 18px;
  border-bottom: 1px solid #61b861;
  background-color: #46ae46;
  z-index: 99999 !important;
}
.mint-header-title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.header .icon {
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-position: center;
}
.no-header {
  /*margin-top: -45px + (-20px);*/
  margin-top: -65px;
}
.no-header .title {
  /*display: flex;
  justify-content: space-between;*/
  height: 65px;
  padding: 20px 15px 0 15px;
  font-size: 18px;
  background-color: transparent;
}
.has-footer {
  padding-bottom: 54px;
}

.common-btn {
  width: 100%;
}
.common-btn .btn {
  display: inline-block;
  width: 100%;
  height: 48px !important;
  color: #fff;
  border-radius: 6px;
  box-shadow: 0 2px 6px #46ae46;
  background-color: #46ae46;
}
.mint-button-text {
  font-size: 17px;
}

.get-data-fail {
  padding: 50px 0;
  text-align: center;
  color: #333;
  font-size: 16px;
}

/*mint-ui toast text font-size*/
.mint-toast-text {
  font-size: 12px !important;
}
/*mint-ui back icon font-size*/
.mintui-back {
  font-size: 20px !important;
}

/* 友情提示 */
.friendly-tip {
  padding: 0 15px;
  line-height: 20px;
  color: #999;
  font-size: 12px;
}
