.deal-banner
  width: 100%
  height: 145px
  padding-top: 26px
  background: url(../../assets/img/icon_banner.png) no-repeat center/100% 145px
  .status
    text-align: center
    color: #fff
    font-size: 17px
  .loan-amount
    margin: 14px 0 20px 0
    text-align: center
    color: #fff
    font-size: 40px
    .icon-money
      display: inline-block
      width: 19px
      height: 25px
      background-image: url('../../assets/img/icon_money_white.png')
      background-size: 19px 25px
    .decimals
      font-size: 30px

.mint-popup
  width: 100%
  background-color: transparent

.deal-success
  text-align: center
  .deal-success-loan-gif
    width: 93px
    height: 117px
  .deal-success-repay-gif
    width: 93px
    height: 81px
  .deal-success-txt
    margin-top: 10px
    color: #fff
    font-size: 14px
