//@import '../../../assets/css/base.styl'
@import './base.styl'

.picker
  .picker--panel
    /*background-color: #f1f1f1 !important*/
  .picker--choose
    height: 45px !important
    padding: 0 15px
    /*background-color: #fff !important*/
    .cancel
      padding: 0
      width: 56px
      height: 25px
      line-height: 25px
      text-align: center
      border: 1px solid #999
      border-radius: 4px
      font-size: 12px
    .confirm
      padding: 0
      width: 56px
      height: 25px
      line-height: 25px
      text-align: center
      border-radius: 4px
      color: #fff !important
      font-size: 12px
      background-color: main-color
    h4
      font-size: 15px !important
  .picker--content
    .wheel--wrapper
      .wheel
        font-size: 12px !important
